.add-form {
   
     width: 85%;
      margin: auto;
      overflow: hidden;
  }
  .form-control {
 
    border: none!important;
    border-radius: 4px;

}
  .abs_totheleft{
      position: absolute;
      left: 215px;
  }
  input.cheeek {
    width:65px;
    height: 32px;
  }
